<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<configuration>
  <property>
    <name>hive.optimize.insert.dest.volume</name>
    <value>true</value>
    <description>For CREATE TABLE AS and INSERT queries create the scratch directory under the destination directory. This avoids the data move across volumes and improves performance.</description>
  </property>

  <property>
    <name>hive.exec.scratchdir</name>
    <value>/user/${user.name}/tmp/hive</value>
    <description>Scratch space for Hive jobs</description>
  </property>

  <property>
    <name>hive.exec.local.scratchdir</name>
    <value>/tmp/${user.name}</value>
    <description>Local scratch space for Hive jobs</description>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionURL</name>
    <value>jdbc:mysql://{{hostvars[hive_metastore_host].ansible_hostname}}:3306/{{hive_db}}</value>
    <description>the URL of the MySQL database</description>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionDriverName</name>
    <value>com.mysql.jdbc.Driver</value>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionUserName</name>
    <value>{{hive_db_user}}</value>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionPassword</name>
    <value>{{hive_db_pass}}</value>
  </property>

  <property>
    <name>datanucleus.autoCreateSchema</name>
    <value>false</value>
  </property>

  <property>
    <name>datanucleus.fixedDatastore</name>
    <value>true</value>
  </property>

  <property>
    <name>hive.metastore.uris</name>
    <value>thrift://{{hostvars[hive_metastore_host].ansible_hostname}}:9083</value>
    <description>IP address (or fully-qualified domain name) and port of the metastore host</description>
 </property>

<property>
  <name>hive.exec.dynamic.partition.mode</name>
    <value>nonstrict</value>
   <description>In strict mode, the user must specify at least one static partition in case the user accidentally overwrites all partitions.</description>
 </property>

 <property>
   <name>hive.exec.compress.output</name>
   <value>true</value>
  <description> This controls whether the final outputs of a query (to a local/hdfs file or a hive table) is compressed. The compression codec and other options are determined from hadoop config variables mapred.output.compress* </description>
 </property>

<property>
   <name>hive.exec.compress.intermediate</name>
   <value>true</value>
   <description> This controls whether intermediate files produced by Hive between
      multiple map-reduce jobs are compressed. The compression codec and other options
      are determined from hadoop config variables mapred.output.compress* </description>
 </property>

 <property>
    <name>mapred.map.output.compression.codec</name>
    <value>org.apache.hadoop.io.compress.SnappyCodec</value>
  <description> This controls whether intermediate files produced by Hive between multiple map-reduce jobs are compressed. The compression codec
    and other options are determined from hadoop config variables
    mapred.output.compress*
  </description>
 </property>

 <property>
   <name>mapred.output.compression.type</name>
   <value>BLOCK</value>
    <description>If the job outputs are to compressed as SequenceFiles,how should they be compressed? Should be one of NONE, RECORD or BLOCK.</description>
 </property>

<property>
  <name>hive.optimize.insert.dest.volume</name>
  <value>true</value>
  <description>For CREATE TABLE AS and INSERT queries create the scratch directory under the destination directory. This avoids the data move across volumes and improves performance.</description>
 </property>

 <property>
  <name>hive.support.quoted.identifiers</name>
  <value>none</value>
  <description>https://cwiki.apache.org/confluence/display/Hive/LanguageManual+Select#LanguageManualSelect-REGEXColumnSpecification</description>
 </property>

<!-- Hive specific tuning -->
 <property>
   <name>hive.exec.dynamic.partition.mode</name>
     <value>nonstrict</value>
   <description></description>
 </property>
 <!-- Workaround - for MapR connection Bug -->

 <property>
   <name>hive.input.format</name>
      <value>org.apache.hadoop.hive.ql.io.HiveInputFormat</value>
   <description></description>
 </property>

<!-- Hive server2 performance tuning -->
<property>
   <name>hive.server2.thrift.max.worker.threads</name>
      <value>2000</value>
   <description></description>
</property>

 <property>
    <name>hive.server2.enable.doAs</name>
    <value>true</value>
  </property>

<property>
  <name>hive.aux.jars.path</name>
   <value>/software/udfs/</value>
   <description>Adds parquet SerDe to Hive </description>
</property>
</configuration>
