[cluster]
{% for instance in ec2_cluster.instances %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[hiveserver]
{% for instance in ec2_cluster.instances[1:3] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[hbasemaster]
{% for instance in ec2_cluster.instances[2:3] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[regionserver]
{% for instance in ec2_cluster.instances %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[hue]
{% for instance in ec2_cluster.instances[2:3] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[impalastatestore]
{% for instance in ec2_cluster.instances[3:4] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[impalacatalog]
{% for instance in ec2_cluster.instances[3:4] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[impalaserver]
{% for instance in ec2_cluster.instances[3:6] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[jobtracker]
{% for instance in ec2_cluster.instances[3:5] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[resourcemanager]
{% for instance in ec2_cluster.instances[3:5] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[historyserver]
{% for instance in ec2_cluster.instances[3:4] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[webserver]
{% for instance in ec2_cluster.instances[1:3] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[tasktracker]
{% for instance in ec2_cluster.instances %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[nodemanager]
{% for instance in ec2_cluster.instances %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[metrics]
{% for instance in ec2_cluster.instances[1:3] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}
{% for instance in ec2_cluster.instances[3:6] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[zookeepers]
{% for instance in ec2_cluster.instances[0:3] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[cldb]
{% for instance in ec2_cluster.instances[3:6] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[nfs]
{% for instance in ec2_cluster.instances %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[fileserver]
{% for instance in ec2_cluster.instances %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[edge]
{% for instance in external.instances[0:1] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[spark_master]
{% for instance in ec2_cluster.instances[1:3] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

[spark_slave]
{% for instance in ec2_cluster.instances[1:6] %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}

